<!DOCTYPE html>
<html>
  <body>
    <h1>Welcome to your baby weaning diary!</h1>

    <form action="/search/" method="post">
      <input type="text" name="search" placeholder="What did your bubba eat today...?">
    </form>

  </body>
</html>
